@charset "utf-8";

/*

	CSS Document
	LCARS Nemesis Blue Theme
	Version 26
	By Jim Robertus www.thelcars.com
	Last modified: 2026 Jul 18
	
*/

:root {
	font-size: 1.375rem;
	color-scheme: dark;
	--lfw: 240px;
	--bronze: #b88b5c;
	--cardinal: #da2537;
	--cool: #69f;
	--copper: #c16c3d;
	--evening: #26f;
	--galaxy-gray: #52526a;
	--ghost: #8bf;
	--honey: #fc9;
	--lawn: #9a2;
	--leather: #8e5a3c;
	--martian: #9c3; /* 9d6/9c3 (#982 dark olive & #992 light olive or yellow-green) (#9a2 lawn) (#971 flat-dark-grass) */
	--midnight: #0048f0;
	--moonbeam: #ebf0ff;
	--pumpkin: #e63d00;
	--red-brown: #a52a2a;
	--red-copper: #c66;
	--sand: #d29270;
	--tangerine: #f83;
	--washed-pumpkin: #f74;
	--wheat: #d1a16c;
	--left-frame-top-color: var(--evening);
	--left-frame-color: var(--evening);
	--left-frame-padding: .75rem;
	--corner-color-top: var(--evening);
	--corner-color-bottom: var(--evening);
	--panel-1-color: var(--wheat);
	--panel-2-color: var(--moonbeam);
	--panel-22-color: var(--evening);
	--panel-4-color: var(--evening);
	--panel-5-color: var(--cool);
	--panel-6-color: var(--midnight);
	--panel-7-color: var(--evening);
	--panel-8-color: var(--moonbeam);
	--panel-10-color: var(--evening);
	--panel-top-button-color: var(--tangerine);
	--bar-height: 28px;
	--bar-1-6-width: 40%;
	--bar-2-7-width: 4%;
	--bar-3-8-width: 17%;
	--bar-5-10-width: 4%;
	--bar-1-color: var(--evening);
	--bar-2-color: var(--honey);
	--bar-3-color: var(--cool);
	--bar-4-color: var(--midnight);
	--bar-5-color: var(--galaxy-gray);
	--bar-6-color: var(--evening);
	--bar-7-color: var(--tangerine);
	--bar-8-color: var(--moonbeam);
	--bar-9-color: var(--evening);
	--bar-10-color: var(--galaxy-gray);
	--radius-top: 0 0 0 160px;
	--radius-bottom: 160px 0 0 0;
	--radius-content-top: 0 0 0 60px;
	--radius-content-bottom: 60px 0 0 0;
	--panel-border: .25rem solid black;
	--bar-border: .35rem solid black;
	--bar-cut-width: 34%;
	--bar-cut-out-width: 34%;
	--divider-height: .5rem;
/*
	NOTE: --font-color also sets the following:
		1. horizontal line <hr> color
		2. lcars-list default bullet color
		3. blockquote border color
		4. border color for images with the *border* class 
*/
	--font-color: var(--cool);
	--sub-fonts: .875rem;
	--dc-font-size: .875rem;
	--dc-row-height: calc(var(--dc-font-size) + .125rem);
	--banner-color: var(--ghost);
	--data-cascade-color: var(--cool);
	--light-color: var(--moonbeam);
	--h1-color: var(--ghost);
	--h2-color: var(--ghost);
	--h3-color: var(--ghost);
	--h4-color: var(--ghost);
	--link-color: var(--cool);
	--code-color: var(--martian);
	--nav-width: 240px;
	--nav-1-color: var(--red-brown);
	--nav-2-color: var(--sand);
	--nav-3-color: var(--leather);
	--nav-4-color: var(--pumpkin);
	--button-color: var(--cool);
	--button-color-sidebar: var(--evening);
	--lcars-bar-color: var(--evening);
	--lcars-bar-start-color: var(--midnight);
	--lcars-bar-end-color: var(--cool);
	--lcars-bar-text-color: var(--ghost);

/* Image Frame */

	--image-border-color: var(--cool);
	--primary-color: var(--evening);
	--secondary-color: var(--cool);
	--accent-color: #adcaff;
	--spacers: .65rem;
	--frame-height: 40px;
}

@media (width <= 1500px) {
	:root {
		--lfw: 200px;
		--radius-top: 0 0 0 130px;
		--radius-bottom: 130px 0 0 0;
		--divider-height: .4rem;
		--nav-width: 210px;
		--dc-font-size: .75rem;
		--bar-height: 24px;
	}
}

@media (width <= 1300px) {
	:root {
		font-size: 1.2rem;
		--sub-fonts: .9rem;
		--lfw: 180px;
		--nav-width: 180px;
		--radius-top: 0 0 0 100px;
		--radius-bottom: 100px 0 0 0;
		--radius-content-top: 0 0 0 40px;
		--radius-content-bottom: 40px 0 0 0;
		--bar-height: 20px;	
	}
}

@media (width <= 950px) {
	:root {
		--lfw: 150px;
	}
}

@media (width <= 750px)	{ 
	:root {
		--panel-border: .25rem solid black;
		--bar-border: .25rem solid black;
		--lfw: 120px;
		--radius-top: 0 0 0 80px;
		--radius-bottom: 80px 0 0 0;
		--radius-content-top: 0 0 0 34px;
		--radius-content-bottom: 34px 0 0 0;
		--nav-width: 174px;
		--bar-height: 16px;
		--spacers: .5rem;
		--frame-height: 25px;
	}
}

@media (width <= 540px) {
	:root {
		--lfw: 62px;
		--left-frame-padding: .5rem;
		--radius-top: 0 0 0 40px;
		--radius-bottom: 40px 0 0 0;
		--bar-height: 10px;
		--divider-height: .3rem;
	}
}

@media (width <= 450px) {
	:root {
		--nav-width: 48%;
	}
}

*, *:after, *:before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

input, textarea, button, select {
	font: inherit;
}

@font-face {
	font-family: 'Antonio';
	font-weight: 400;
	src: url('Antonio-Regular.woff2') format('woff2'),
			 url('Antonio-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Antonio';
	font-weight: 700;
	src: url('Antonio-Bold.woff2') format('woff2'),
			 url('Antonio-Bold.woff') format('woff')
}

html {
	scroll-behavior: smooth;
}

body	{
	display: flex;
	padding-top: 10px;
	padding-left: 5px;
	background-color: black;
	font-family: 'Antonio', 'Arial Narrow', 'Avenir Next Condensed', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: var(--font-color);

	@media (width <= 540px) {
		padding: 0.2rem;
	}
}

body:has(.panel-22:hover) .bar-1 {
  filter: brightness(115%);
}

body:has(.panel-22:hover) .right-frame-top::before {
  filter: brightness(115%);
}

body:has(.panel-22:active) .bar-1 {
  filter: brightness(85%);
}

body:has(.panel-22:active) .right-frame-top::before {
  filter: brightness(85%);
}

body:has(.panel-3:hover) .bar-6 {
  filter: brightness(115%);
}

body:has(.panel-3:hover) .right-frame:before {
  filter: brightness(115%);
}

body:has(.panel-3:active) .bar-6 {
  filter: brightness(85%);
}

body:has(.panel-3:active) .right-frame:before {
  filter: brightness(85%);
}

a	{
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: .2rem;
	color: var(--link-color);
}

a:hover {
	filter: brightness(115%);
	animation: none !important;
}

a:active {
	filter: brightness(80%);
	outline: none;
}

.wrap-everything {
	display: flex;
	width: 100%;
	column-gap: 10px;
}

#column-3 {
	flex: 1;
	margin-inline: auto;
}

.wrap	{
	display: flex;
	margin-inline: auto;
	padding-left: 5px;
	padding-right: 15px;
	overflow: hidden;

	@media (width <= 540px) {
		padding-left: 0;
		padding-right: 0.25rem;
	}
}

.scroll-top {
	display: none;
}

.left-frame-top,
.left-frame	{
	width: var(--lfw);
	text-align: right;
	font-size: clamp(.875rem, 2vw, 1rem);
	line-height: 1.2;
	font-weight: bold;
	color: black;
}

.left-frame-top	{
	display: flex;
	flex-direction: column;
	background-color: var(--left-frame-top-color);
	border-radius: var(--radius-top);
}

.left-frame-top a,
.left-frame a {
	text-decoration: none;
	color: black;
}

.left-frame	{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--left-frame-color);
	position: relative;
}

.left-frame::before {
	content: '';
	width: var(--lfw);
	height: 190px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;

	@media (width <= 1460px) {
		height: 150px;
	}
	@media (width <= 540px) {
		height: 80px;
	}
}

.right-frame-top	{
	flex: 1;
	align-content: flex-end;
	position: relative;
}

.right-frame-top:before {
	content: '';
	display: block;
	width: 60px;
	height: 60px;
	background: linear-gradient(to top right, var(--corner-color-top) 50%, black 50%);
	position: absolute;
	left: 0;
	bottom: var(--bar-height);
	z-index: -1;	
}

.right-frame-top:after {
	content: '';
	display: block;
	width: 60px;
	height: 60px;
	background-color: black;
	border-radius: var(--radius-content-top);
	position: absolute;
	left: 0;
	bottom: var(--bar-height);
	z-index: -1;
}

@media (width <= 650px) {
	.right-frame-top:before {
		bottom: 16px;
	}

	.right-frame-top:after {
		bottom: 16px;
	}
}

@media (width <= 540px) {
	.right-frame-top:before {
		bottom: 10px;
	}

	.right-frame-top:after {
		bottom: 10px;
	}
}

.banner	{
	padding-bottom: 1rem;
	padding-left: 5px;
	text-align: right;
	text-transform: uppercase;
	line-height: 1.1;
	font-size: clamp(1.25rem, 0.75rem + 4vw, 4rem);
	color: var(--banner-color);
}

.banner a {
	color: var(--banner-color);
	text-decoration: none;
}

.data-cascade-button-group	{
	display: flex;
	justify-content: flex-end;
}

@media (width <= 1440px) {
	.data-cascade-button-group:has(.header-content) {
		row-gap: 1rem;
	}

	.data-cascade-button-group:has(.header-content) > nav {
		width: 100%;
	}
}

.header-content {
	flex: 1;
	min-height: 180px;
	padding-right: .5rem;
	padding-left: clamp(20px, 3vw, 50px);
}

.header-content > *:first-child {
	margin-top: 0;
}

.header-content > *:last-child {
	margin-bottom: 0;
}

.floor-text {
	padding-top: 0.6rem;
	text-align: right;
	font-size: 1.2rem;
	font-size: clamp(.9rem, 4vw, 1.25rem);
}

.data-cascade-wrapper {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	max-width: 100%;
	height: calc(var(--dc-row-height) * 9);
	overflow: hidden;
 	padding-right: .5rem;
 	padding-left: clamp(20px, 3vw, 50px);
 	column-gap: .5rem;

	@media (width <= 780px) {
		padding-left: 0.5rem;
	}
	@media (width <= 640px) {
		display: none;
	}
}

.data-column {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 1px;
	text-align: right;
	font-size: var(--dc-font-size);
	line-height: 1;
	text-box: trim-both cap alphabetic;
	color: black;
}

.dc-row-1,
.dc-row-2,
.dc-row-3,
.dc-row-4,
.dc-row-5,
.dc-row-6,
.dc-row-7 {
	text-box: trim-both cap alphabetic;
	height: var(--dc-row-height);
}

@keyframes data-group-1 {

	0%,
	3.99% {
		color: black;
	}

	4%,
	45.99% {
		color: var(--data-cascade-color);
	}

	46%,
	49.99% {
		color: var(--light-color);
	}

	50%,
	63.99% {
		color: var(--data-cascade-color);
	}

	64%,
	67.99% {
		color: var(--light-color);
	}

	68%,
	100% {
		color: var(--data-cascade-color);
	}


}

@keyframes data-group-1a {

	0%,
	4.99% {
		color: black;
	}

	5%,
	45.99% {
		color: var(--data-cascade-color);
	}

	46%,
	49.99% {
		color: var(--light-color);
	}

	50%,
	63.99% {
		color: var(--data-cascade-color);
	}

	64%,
	67.99% {
		color: var(--light-color);
	}

	68%,
	100% {
		color: var(--data-cascade-color);
	}


}

@keyframes data-group-2 {

	0%,
	12.99% {
		color: black;
	}

	13%,
	49.99% {
		color: var(--data-cascade-color);
	}

	50%,
	53.99% {
		color: var(--light-color);
	}

	54%,
	67.99% {
		color: var(--data-cascade-color);
	}

	68%,
	71.99% {
		color: var(--light-color);
	}

	72%,
	100% {
		color: var(--data-cascade-color);
	}


}

@keyframes data-group-2b {

	0%,
	14.99% {
		color: black;
	}

	15%,
	49.99% {
		color: var(--data-cascade-color);
	}

	50%,
	53.99% {
		color: var(--light-color);
	}

	54%,
	67.99% {
		color: var(--data-cascade-color);
	}

	68%,
	71.99% {
		color: var(--light-color);
	}

	72%,
	81.99% {
		color: var(--data-cascade-color);
	}

	82%,
	100% {
		color: var(--tangerine);
	}


}

@keyframes data-group-3 {

	0%,
	26.99% {
		color: black;
	}

	27%,
	40.99% {
		color: var(--light-color);
	}

	41%,
	53.99% {
		color: var(--data-cascade-color);
	}

	54%,
	57.99% {
		color: var(--light-color);
	}

	58%,
	71.99% {
		color: var(--data-cascade-color);
	}

	72%,
	75.99% {
		color: var(--light-color);
	}

	76%,
	100% {
		color: var(--data-cascade-color);
	}

}

.dc-row-1 {
	animation: data-group-1 6000ms ease 200ms infinite;
}

.dc-row-2 {
	animation: data-group-1a 6000ms ease 200ms infinite;
}

.dc-row-3 {
	animation: data-group-2 6000ms ease 200ms infinite;
}

.dc-row-4 {
	animation: data-group-2b 6000ms ease 200ms infinite;
}

.dc-row-5 {
	animation: data-group-3 6000ms ease 200ms infinite;
}

.dc-row-6 {
	animation: data-group-3 6000ms ease 200ms infinite;
}

.dc-row-7 {
	animation: data-group-3 6000ms ease 200ms infinite;
}

/* Static data cascade */

.data-cascade-wrapper#frozen .dc-row-1	{
	animation: none;
	color: var(--data-cascade-color);
}

.data-cascade-wrapper#frozen .dc-row-2	{
	animation: none;
	color: var(--data-cascade-color);
}

.data-cascade-wrapper#frozen .dc-row-3	{
	animation: none;
	color: var(--data-cascade-color);
}

.data-cascade-wrapper#frozen .dc-row-4	{
	animation: none;
	color: var(--data-cascade-color);
}

.data-cascade-wrapper#frozen .dc-row-5	{
	animation: none;
	color:  var(--light-color);
}

.data-cascade-wrapper#frozen .dc-row-6	{
	animation: none;
	color: var(--light-color);
}

.data-cascade-wrapper#frozen .dc-row-7	{
	animation: none;
	color: var(--light-color);
}

.bar-panel	{
	display: flex;
	height: var(--bar-height);
}

.first-bar-panel {
	margin-top: .5rem;
}

.bar-1,
.bar-2,
.bar-3,
.bar-4,
.bar-5,
.bar-6,
.bar-7,
.bar-9,
.bar-10	{
	height: var(--bar-height);
}

.bar-1,
.bar-2,
.bar-3,
.bar-4,
.bar-6,
.bar-7,
.bar-8,
.bar-9	{
	border-right: var(--bar-border);
}

.bar-1	{
	width: var(--bar-1-6-width);
	background-color: var(--bar-1-color);
}

.bar-2	{
	width: var(--bar-2-7-width);
	background-color: var(--bar-2-color);
}

.bar-3	{
	width: var(--bar-3-8-width);
	background-color: var(--bar-3-color);
}

.bar-4	{
	flex: 1;
	background-color: var(--bar-4-color);
}

.bar-5	{
	width: var(--bar-5-10-width);
	background-color: var(--bar-5-color);
}

.bar-6	{
	width: var(--bar-1-6-width);
	background-color: var(--bar-6-color);
}

.bar-7	{
	width: var(--bar-2-7-width);
	background-color: var(--bar-7-color);
}

.bar-8	{
	width: var(--bar-3-8-width);
	height: 50%;
	background-color: var(--bar-8-color);
}

.bar-9	{
	flex: 1;
	background-color: var(--bar-9-color);
}

.bar-10	{
	width: var(--bar-5-10-width);
	background-color: var(--bar-10-color);
}

#gap	{
	margin-top: var(--divider-height);
}

/* Navigation & Buttons */

button {
	border: none;
	outline: none;
	font-weight: bold;
	color: black;
}

button:hover {
	cursor: pointer;
	animation: none !important;
	filter: brightness(115%);
	animation: none !important;
	color: black;
}

button:active {
	filter: brightness(85%);
}

nav {
	display: flex;
	flex-wrap: wrap;
	align-self: center;	
	width: calc(var(--nav-width) + var(--nav-width) + 1rem);
	justify-content: flex-end;
	column-gap: .5rem;
	row-gap: .65rem;

	@media (width <= 1500px) {
		column-gap: .375rem;
		row-gap: 0.5rem;
	}
	@media (width <= 1300px) {
		padding-left: 0.5rem;
		gap: 0.5rem;
	}
	@media (width <= 640px) {
		flex: 1;
	}
}

@media (width <= 1440px) {
	.data-cascade-button-group:has(.header-content) {
		row-gap: 1rem;
	}

	.data-cascade-button-group:has(.header-content) > nav {
		width: 100%;
	}
}

@keyframes button-1-animation {
  0%,
  69.99% {
    opacity: 1;
  }    
  70%,
  100% {
    opacity: 0;
  }
}

@keyframes button-2-animation {
  0%,
  9.99% {
    background-color: black;    
  }
  10%,
  49.99% {
    background-color: var(--nav-2-color);    
  }
  50%,
  79.99% {
    background-color: #daa78b;    
  }
  80%,
  94.99% {
    background-color: var(--red-copper);    
  }
  95%,
  100% {
    background-color: black;
  }
}

@keyframes button-4-animation {
  0%,
  49.99% {
    background-color: var(--nav-4-color);    
  }
  50%,
  79.99% {
    background-color: var(--cool);    
  }
  80%,
  100% {
    background-color: black;
  }
}

nav button	{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	width: var(--nav-width);
	height: calc(var(--nav-width) / 2.8);
	padding-inline: 1.5rem;
	padding-bottom: 0.7rem;
	border-radius: 100vmax;
	background-color: var(--button-color);
	text-align: right;
	line-height: 1.175;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	-webkit-touch-callout: none; 
  	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none;

	@media (width <= 1300px) {
		padding-bottom: 0.5rem;
		font-size: 0.875rem;
		padding-inline: 1.25rem;
	}
	@media (width <= 450px) {
		height: 60px;
	}
}

.nav-1 {
	background-color: var(--nav-1-color);
	animation: button-1-animation 6000ms infinite;
}

.nav-2 {
	background-color: var(--nav-2-color);
	animation: button-2-animation 6500ms infinite;
}

.nav-3 {
	background-color: var(--nav-3-color);
}

.nav-4 {
	background-color: var(--nav-4-color);
	animation: button-4-animation 6500ms infinite;
}

@media (width <= 780px) {

	.data-cascade-button-group:has(.header-content) > *:nth-child(2) {
		flex: none;
	} 
}

.lcars-button {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	margin-block: 1rem;
	width: 224px;
	height: 80px;
	padding-inline: 1.75rem;
	padding-bottom: .675rem;
	background-color: var(--button-color);
	border-radius: 100vmax;
	border-width: 0;
	text-align: right;
	line-height: 1.175;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}

.buttons	{
	display: flex;
	flex-wrap: wrap;
	gap: 0.6rem;
	margin-block: 2rem; 
}

.justify-space-between	{
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.justify-flex-end {
	justify-content: flex-end;
}

.justify-space-around {
	justify-content: space-around;
}

.justify-space-evenly {
	justify-content: space-evenly;
}

.buttons button	{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	width: 224px;
	height: 80px;
	padding-inline: 1.75rem;
	padding-bottom: 0.7rem;
	background-color: var(--button-color);
	border-radius: 100vmax;
	border-width: 0;
	text-align: right;
	line-height: 1.175;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}

.sidebar-nav button,
.sidebar-button {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	min-height: 3.5rem;
	width: var(--lfw);
	background-color: var(--button-color-sidebar);
	border-radius: 0;
	border-bottom: var(--panel-border);	
	padding: var(--left-frame-padding);
	text-decoration: none;
	text-align: right;
	text-transform: uppercase;
	color: black;

	@media (width <= 540px) {
		min-height: 1rem;
		word-break: break-all;
	}
}

#topBtn {
	display: none;
	position: fixed;
	bottom: 0; 
	z-index: 99;
	border-radius: 0;
	border-top: var(--panel-border);
	border-right: none;
	border-bottom: var(--panel-border);
	border-left: none;
	outline: none;
	width: var(--lfw);
	padding: var(--left-frame-padding);
	padding-bottom: 10vh;
	background-color: var(--panel-top-button-color);
	text-align: right;
	line-height: 1;
	text-transform: uppercase;
	color: black;
	cursor: pointer;

	@media (width <= 540px) {
		padding-bottom: 6vh;
	}
}

#topBtn:hover {
  filter: brightness(115%);
}

#topBtn:active {
	filter: brightness(80%);
}

.flatside-button-wrapper {
	margin-block: 2rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	row-gap: 0.8rem;
}

.flatside-button-wrapper button,
.flatside-button {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: flex-end;
	width: 280px;
	height: 64px;
	padding-right: 0.75rem;
	padding-bottom: 0.5rem;
	padding-left: 3.5rem;
	border-radius: 0 32px 32px 0;
	background-color: var(--button-color);
	line-height: 1.175;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none;

	@media (width <= 390px) {
		width: 100%;
	}
}

.flatside-button-wrapper button::before,
.flatside-button::before {
	content: '';
	display: block;
	width: 1rem;
	height: 100%;
	background-color: black;
	position: absolute;
	top: 0;
	left: 1.75rem;
}

.flatside-button {
	margin-block: 0.8rem;
}

.panel-2,
.panel-3,
.panel-4,
.panel-5,
.panel-6,
.panel-7,
.panel-8	{
	border-bottom: var(--panel-border);
}

.panel-2,
.panel-3,
.panel-4,
.panel-6,
.panel-7,
.panel-8,
.panel-10 {
	padding: var(--left-frame-padding);
}

.panel-1	{
	display: flex;
	width: var(--lfw);
	justify-content: flex-end;
	align-items: flex-end;
	background-color: var(--panel-1-color);
	min-height: clamp(90px, 11vw, 160px);
	overflow: hidden;
	padding: var(--left-frame-padding);
	border-radius: 0;
	border-bottom: var(--panel-border);
	text-decoration: none;
	color: black;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}

.panel-2 {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	min-height: 3.75rem;
	padding: var(--left-frame-padding);
	background-color: var(--panel-2-color);
	border-bottom: var(--panel-border);
}

.panel-22 {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
	padding: var(--left-frame-padding);
	background-color: var(--panel-22-color);
	border-radius: var(--radius-top);
	position: relative;
}

.panel-2 {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	min-height: 3.5rem;
	background-color: var(--panel-2-color);

	@media (width <= 1300px) {
		min-height: 3rem;
	}
}

.panel-3 {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: var(--lfw);
	min-height: 190px;
	background-color: var(--evening);
	border-radius: var(--radius-bottom);
	position: relative;

	@media (width <= 1460px) {
		min-height: 150px;
	}
	@media (width <= 540px) {
		min-height: 80px;
	}
}

.panel-4	{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	height: 18vh;
	background-color: var(--panel-4-color); 
}

.panel-5	{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 4.25rem;
	padding: var(--left-frame-padding);
	background-color: var(--panel-5-color);
}

.panel-6	{
	display: flex;
	justify-content: flex-end;
	height: 29vh;
	max-height: 360px;
	background-color: var(--panel-6-color);
}

.panel-spacer {
	width: var(--lfw);
	height: calc(var(--lfw) / 1.5);
	background-color: var(--left-frame-color);
}

.panel-7	{
	display: flex;
	justify-content: flex-end;
	height: 30vh;
	background-color: var(--panel-7-color);
	border-top: var(--panel-border);
}

button[class^="panel-"] {
	width: var(--lfw);
	text-align: right;

	@media (width <= 540px) {
		word-break: break-all;
	}
}

@media (width <= 540px) {
	.panel-4,
	.panel-6,
	.panel-7 {
		height: 18vh;
	}
}

/* End navigation & buttons */

.right-frame	{
	flex: 1;
	position: relative;
}

.right-frame:before {
	content: '';
	display: block;
	width: 60px;
	height: 60px;
	background-color: var(--corner-color-bottom);
	position: absolute;
	left: 0;
	top: var(--bar-height);
	z-index: -1;	
}

.right-frame:after {
	content: '';
	display: block;
	width: 60px;
	height: 60px;
	background-color: black;
	border-radius: var(--radius-content-bottom);
	position: absolute;
	left: 0;
	top: var(--bar-height);
	z-index: -1;
}

main	{
	padding-top: clamp(1rem, 4vw, 45px);
	padding-bottom: .5rem;
	padding-left: clamp(20px, 3vw, 50px);
}

main > *:first-child,
article > *:first-child {
	margin-top: 0;
}

main:has(.floor-heading) > *:nth-child(2) {
	margin-top: 0;
}

.flexbox {
	display: flex;
	gap: 1.2rem;
	flex-wrap: wrap;
}

.col {
	flex: 1 1 360px;
}

.col > *:first-child {
	margin-top: 0;
}

h1, h2, h3, h4	{
	margin-block: 1.75rem;
	font-weight: normal;
	line-height: 1.2;
	text-transform: uppercase;
	text-box: trim-both cap alphabetic;
	text-wrap: balance;
}

h1	{
	font-size: clamp(1.5rem, 1.25rem + 3.5vw, 4rem);
	text-align: right;
	color: var(--h1-color);
}

h2	{
	font-size: clamp(1.4rem, 1.1rem + 2.25vw, 2.3rem);
	color: var(--h2-color);
}

h3 {
	font-size: clamp(1.15rem, 1.05rem + 1.25vw, 1.875rem);
	color: var(--h3-color);
}

h4 {
	font-size: clamp(1.025rem, 1rem + 1.125vw, 1.575rem);
	color: var(--h4-color);
}

.floor-heading {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 10px;
	z-index:4;

	@media (width <= 540px) {
		bottom: 0;
	}
}

.floor-heading > * {
	margin-block: 0;
	width: fit-content;
	padding-inline: .5rem;
	padding-bottom: .5rem;
	background-color: black; 
}

p {
	margin-block: 1.75rem;
	text-box: trim-both cap alphabetic;
	text-wrap: pretty;
}

.caption	{
	margin-top: -1rem;
	text-align: center;
	font-size: var(--sub-fonts);
}

.indent {
	padding-left: 1.5rem;
}

.postmeta {
	margin-block: 1.25rem;
	text-align: right;
	font-size: clamp(1.2rem, 0.88rem + 1.28vw, 1.6rem);
	line-height: 1.2;
	text-transform: uppercase;
}

article h1 {
	margin-bottom: 0;
}

hr {
	margin-block: 1.5rem;
	height: 6px;
	border: none;
	background-color: var(--font-color);
	border-radius: 3px;
}

blockquote {
	margin-block: 1.75rem;
	margin-left: 1.5rem;
	padding-block: .25rem;
	padding-left: 1.5rem;
	position: relative;
	text-box: trim-both cap alphabetic;

	@media (width <= 540px) {
		margin-left: 0.75rem;
	}
}

blockquote::before {
	content: '';
	display: block;
	width: 10px;
	height: 100%;
	background-color: var(--font-color);
	border-radius: 5px;
	position: absolute;
	left: 0;
	top: 0;
}

blockquote > *:first-child {
	margin-top: 0;
}

blockquote > * {
	margin-bottom: 0;
}

iframe {
	display: block;
	width: 100%;
	border: none;
}

.flush {
	margin-top: -1rem;
}

.nomar {
	margin-block: 0 !important;
}

.go-center	{
	text-align: center !important;
}

.go-right	{
	text-align: right !important;
}

.go-left {
	text-align: left !important;
}

.go-big {
	font-size: clamp(1.2rem, 1rem + 1vw, 1.275rem);
}

.uppercase	{
	text-transform: uppercase;
}

.strike {
	text-decoration: line-through;
	text-decoration-thickness: .15rem;
}

.now {
	white-space: nowrap;
}

.big-sky {
	margin-top: 5rem;
}

.smoke-glass {
	opacity: .35;
}

strong {
	font-weight: bold;
}

code {
	font-family: monospace;
	font-size: .9rem;
	color: var(--code-color);
}

.code {
	width: 100%;
	min-height: 5rem;
	padding-block: .5rem;
	padding-inline: 1rem;
	background-color: #232323;
	border-color: #4c4c4c;
	tab-size: 4;
	font-family: monospace;
	font-size: .85rem;
	color: #dcdcdc;
}

@keyframes blink { 
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

.blink-slow {
	animation: blink 3500ms infinite;
}

.blink {
	animation: blink 2s infinite;
}

.blink-fast {
	animation: blink 1s infinite;
}

@keyframes pulse { 
	0% {filter: brightness(1.0)}
	50% {filter: brightness(.25)}
}

.pulse {
	animation: pulse 2s infinite;
}

.pulse-rate-high {
	animation: pulse 1s infinite;
}

.pulse-rate-low {
	animation: pulse 3s infinite;
}

.accordion-wrapper	{
	display: block;
	margin: 2rem auto;
	width: 100%;
}

.limit-width {
	max-width: 1240px;
}

.accordion	{
	display: flex;
	margin-block: 0.5rem;
	align-items: center;
	min-height: 2.75rem;
	width: 100%;
	padding-right: 2.75rem;
	padding-left: 1.5rem;
	border-radius: 100vmax;	
	background-color: var(--bronze);
	border-left: solid 2.5rem var(--bronze); 
	text-align: left;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.1;
	color: black;
	cursor: pointer;
	position: relative;

	@media (width <= 700px) {
		font-size: 1.2rem;
	}

	@media (width <= 540px) {
		font-size: 1rem;
		padding-left: 1rem;
	}
}

.active, .accordion:hover {
	background-color: var(--red-brown);
	border-left-color: var(--red-copper);
	filter: none;
}

.accordion:before {
	content: '';
	display: block;
	width: 0.65rem;
	height: 100%;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;

	@media (width <= 540px) {
		width: 0.5rem;
	}
}

.accordion:after {
	content: '\276F';
	position: absolute;
	right: 1rem;
	top: auto;
	transform: rotate(90deg);
	transition: 0.4s;
	font-weight: bold;
	color: black;    
}

.active:after {
	content: "\276F";
	transform:rotate(-90deg);
	transition: 0.4s ease;
}

.accordion-content {
    padding-inline: 2.75rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;

	@media (width <= 540px) {
	padding-inline: .75rem;
	}
}

.accordion-content ul {
	margin-left: 0;
}

@keyframes pulse { 
	0% {filter: brightness(1.0)}
	50% {filter: brightness(.25)}
}

.pulse {
	animation: pulse 2s infinite;
}

.pulse-rate-high {
	animation: pulse 1s infinite;
}

.pulse-rate-low {
	animation: pulse 3s infinite;
}

/* Images */

.pics-right {
	float: right;
	margin-inline: 1rem;
	margin-bottom: 2rem;
	max-width: 500px;
	clear: both;
}

.pics-left {
	float: left;
	margin-right: 1rem;
	margin-bottom: 2rem;
	max-width: 500px;
}

@media (width <= 1000px)	{
	.pics-right,
	.pics-left {
		float: none;
		margin-inline: auto;
		max-width: fit-content;
	}

	.pics-right img,
	.pics-left img {
		margin-inline: auto;
	}
}

.pics {
	margin-block: 2rem;
	margin-inline: auto;
}

.border {
	border: 2px solid var(--font-color);
}

.lcars-list {
	margin-block: 1.15rem;
	margin-left: 2rem;
	list-style: none;

	@media (width <= 650px) {
		margin-left: 0.5rem;
	}
}

.lcars-list li {
	position: relative;
	padding-block: 0.45rem;
	padding-left: 50px;
	text-box: trim-both cap alphabetic;
	
	@media (width <= 650px) {
		padding-left: 44px;
	}
}

.lcars-list li::before {
	content: '';
	display: block;
	width: 34px;
	height: 18px;
	border-radius: 50%;
	background-color: var(--font-color);
	position: absolute;
	top: 0.45rem;
	left: 0;

	@media (width <= 1300px) {
		top: 0.4rem;
	}
	@media (width <= 650px) {
		transform: scale(80%);
	}
}

.lcars-bar {
	margin-block: 1.75rem;
	height: clamp(15px, 2vh, 25px);
	background: transparent;
	border-right: clamp(15px, 2vh, 25px) solid var(--lcars-bar-end-color);
	border-left: clamp(15px, 2vh, 25px) solid var(--lcars-bar-start-color);
	border-radius: 100vmax;
	position: relative;
}

.lcars-bar::after {
	content: '';
	display: block;
	height: clamp(15px, 2vh, 25px);
	width: 100%;
	background-color: var(--lcars-bar-color);
	border-right: .8vh solid black;
	border-left: .8vh solid black;
	position: absolute;
	top: 0;
	left: 0;
}

.lcars-text-bar {
	display: flex;
	position: relative;
	height: var(--text-bar-height);
	margin-block: 2rem;
	overflow: visible;
	border-radius: 100vmax;
	background-color: var(--lcars-bar-color);
	border-right: 40px solid var(--lcars-bar-end-color);
	border-left: 40px solid var(--lcars-bar-start-color);
	--text-bar-height: 40px;
	--text-bar-spacing: 14px;

	@media (width <= 950px) {
		--text-bar-height: 30px;
		--text-bar-spacing: 10px;
		border-right-width: 30px;
		border-left-width: 30px;
	}
	@media (width <= 540px) {
		--text-bar-height: 24px;
		--text-bar-spacing: 8px;
		border-right-width: 24px;
		border-left-width: 24px;
	}
}

.the-end {
	justify-content: flex-end;
}

.lcars-text-bar h2,
.lcars-text-bar h3,
.lcars-text-bar h4,
.lcars-text-bar span {
	margin-block: 0;
	background-color: black;
	overflow: visible;
	border-top: 1px solid black;
	padding-inline: var(--text-bar-spacing);
	font-size: 45px;
	line-height: 1;
	text-transform: uppercase;
	color: var(--lcars-bar-text-color);
	z-index: 1;
	text-box: trim-both cap alphabetic;

	@media (width <= 950px) {
		font-size: 33px;
	}
	@media (width <= 540px) {
		font-size: 26px;
	}
}

.lcars-text-bar::before {
	content: '';
	background-color: black;
	display: block;
	width: var(--text-bar-spacing);
	height: var(--text-bar-height);
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.lcars-text-bar::after {
	content: '';
	background-color: black;
	display: block;
	width: var(--text-bar-spacing);
	height: var(--text-bar-height);
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}

/* Image Frame */

.image-frame {
	display: block;
	margin: 2.75rem auto;
	width: fit-content;
	background: linear-gradient(var(--primary-color) 56%, var(--secondary-color) 44%);
	border-radius: 50px 25px 0 50px;
	position: relative;
}

.image-frame::before {
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	background-color: black;
	position: absolute;
	right: 0;
	top: 0;	
}

.image-frame::after {
	content: '';
	display: block;
	border-top: var(--spacers) solid black;
	border-bottom: var(--spacers) solid black;
	width: 45px;
	height: 80px;
	background-color: var(--secondary-color);
	position: absolute;
	left: 0;
	top: 56%;	
}

.imgf-title {
	display: flex;
	justify-content: flex-end;
	height: 40px;
	border-right: 40px solid var(--secondary-color);
	border-radius: 25px 100vh 100vh 0;
	position: relative;
	z-index: 1;
	text-align: right;
}

.h4-wrapper {
	width: fit-content;
	height: var(--frame-height);
	background-color: black;
	border-right: var(--spacers) solid black;
}

.imgf-title h4 {
	margin-block: 0;
	width: fit-content;
	background-color: black;
	padding-left: var(--spacers);
	font-size: 2.05rem;
	color: var(--title-color);
	line-height: 40px;
	text-transform: uppercase;
}

.imgf-image-body {
	margin-left: 45px;
	background-color: black;
	width: fit-content;
	padding: 1rem;
	border-radius: 28px 0 0 28px;

}

.image-holder {
	width: fit-content;
	padding: 1rem;
	border: 2px solid var(--image-border-color);
	border-radius: 20px;
}

.imgf-base {
	display: grid;
	grid-template-columns: 20% 13% 35px 15% 1fr;
	margin-left: 80px;
	border-left: var(--spacers) solid black;

}

.imgf-block-1 {
	height: var(--frame-height);
	background-color: var(--accent-color);
	border-right: var(--spacers) solid black;
}

.imgf-block-2 {
	height: var(--frame-height);
	background-color: var(--secondary-color);
	border-right: var(--spacers) solid black;
}

.imgf-block-3 {
	height: var(--frame-height);
	background-color: black;
	border-right: 10px solid var(--secondary-color);
	border-left: 10px solid var(--accent-color);
}

.imgf-block-4 {
	height: var(--frame-height);
	background-color: var(--secondary-color);
	border-left: var(--spacers) solid black;
}

.imgf-block-5 {
	height: var(--frame-height);
	background-color: black;
}

@media (width <= 750px) {

	.image-frame {
		border-radius: 40px 25px 0 40px;
	}

	.image-frame::after {
		width: 25px;
		height: 60px;
		top: 50%;
	}

	.imgf-title {
		height: 25px;
		border-right: 24px solid var(--secondary-color);
	}

	.h4-wrapper {
		width: fit-content;
		height: var(--frame-height);
		background-color: black;
	}

	.imgf-title h4 {
		font-size: 1.45rem;
	}

	.imgf-image-body {
		margin-left: 25px;
		padding: .75rem;
		border-radius: 20px 0 0 20px;
	}

	.image-holder {
		padding: .75rem;
		border-radius: 10px;
	}
}

/* colors: custom classes */

.font-cardinal {
	color: var(--cardinal) !important;
}
.button-cardinal,
.background-cardinal,
.bullet-cardinal::before {
	background-color: var(--cardinal) !important;
}

.font-bronze {
	color: var(--bronze) !important;
}
.button-bronze,
.background-bronze,
.bullet-bronze::before {
	background-color: var(--bronze) !important;
}

.font-cool {
	color: var(--cool) !important;
}
.button-cool,
.background-cool,
.bullet-cool::before {
	background-color: var(--cool) !important;
}

.font-copper {
	color: var(--copper) !important;
}
.button-copper,
.background-copper,
.bullet-copper::before {
	background-color: var(--copper) !important;
}

.font-evening {
	color: var(--evening) !important;
}
.button-evening,
.background-evening,
.bullet-evening::before {
	background-color: var(--evening) !important;
}

.font-galaxy-gray {
	color: var(--galaxy-gray) !important;
}
.button-galaxy-gray,
.background-galaxy-gray,
.bullet-galaxy-gray::before {
	background-color: var(--galaxy-gray) !important;
}

.font-ghost {
	color: var(--ghost) !important;
}
.button-ghost,
.background-ghost,
.bullet-ghost::before {
	background-color: var(--ghost) !important;
}

.font-honey {
	color: var(--honey) !important;
}
.button-honey,
.background-honey,
.bullet-honey::before {
	background-color: var(--honey) !important;
}

.font-lawn {
	color: var(--lawn) !important;
}
.button-lawn,
.background-lawn,
.bullet-lawn::before {
	background-color: var(--lawn) !important;
}

.font-leather {
	color: var(--leather) !important;
}
.button-leather,
.background-leather,
.bullet-leather::before {
	background-color: var(--leather) !important;
}

.font-martian {
	color: var(--martian) !important;
}
.button-martian,
.background-martian,
.bullet-martian::before {
	background-color: var(--martian) !important;
}

.font-midnight {
	color: var(--midnight) !important;
}
.button-midnight,
.background-midnight,
.bullet-midnight::before {
	background-color: var(--midnight) !important;
}

.font-moonbeam {
	color: var(--moonbeam) !important;
}
.button-moonbeam,
.background-moonbeam,
.bullet-moonbeam::before {
	background-color: var(--moonbeam) !important;
}

.font-pumpkin {
	color: var(--pumpkin) !important;
}
.button-pumpkin,
.background-pumpkin,
.bullet-pumpkin::before {
	background-color: var(--pumpkin) !important;
}

.font-red-brown {
	color: var(--red-brown) !important;
}
.button-red-brown,
.background-red-brown,
.bullet-red-brown::before {
	background-color: var(--red-brown) !important;
}

.font-red-copper {
	color: var(--red-copper) !important;
}
.button-red-copper,
.background-red-copper,
.bullet-red-copper::before {
	background-color: var(--red-copper) !important;
}

.font-sand {
	color: var(--sand) !important;
}
.button-sand,
.background-sand,
.bullet-sand::before {
	background-color: var(--sand) !important;
}

.font-tangerine {
	color: var(--tangerine) !important;
}
.button-tangerine,
.background-tangerine,
.bullet-tangerine::before {
	background-color: var(--tangerine) !important;
}

.font-washed-pumpkin {
	color: var(--washed-pumpkin) !important;
}
.button-washed-pumpkin,
.background-washed-pumpkin,
.bullet-washed-pumpkin::before {
	background-color: var(--washed-pumpkin) !important;
}

.font-wheat {
	color: var(--wheat) !important;
}
.button-wheat,
.background-wheat,
.bullet-wheat::before {
	background-color: var(--wheat) !important;
}

/* Footer */

footer {
	margin-top: 2.5vw;
	padding-bottom: 3rem;
	padding-left: clamp(20px, 3vw, 50px);
	font-size: .875rem;
}

.headtrim {
	height: 10px;
	width: 100%;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.baseboard {
	height: 10px;
	width: 100%;
	background-color: black;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
}

@media (width <= 540px) {
	.headtrim {
		display: none;
	}
	.baseboard {
		display: none;
	}
	.hop {
		display: none;
	}
}

.animation-off {
	animation: none !important;
}

@-moz-document url-prefix() {

	main {
		padding-top: clamp(1rem, 4vw, 30px);
	}

	h1, h2, h3, h4, p {
   	margin-block: 1.15rem;
   }

	  .imgf-title h4 {
		margin-top: -4px;
		margin-bottom: 0;
	}

   .postmeta {
   	margin-top: .75rem;
   }

   .lcars-text-bar h2,
   .lcars-text-bar h3,
   .lcars-text-bar h4,
   .lcars-text-bar span {
      position: absolute;
      top: -.7vh;
   }

   .lcars-list li {
	padding-block: .2rem;
	}

	.lcars-list li::before {
		top: .56rem;
	}
}